.title {
  width: 100%;
  z-index: 100;
}
#chess-img {
  margin: auto;
  display: inline-block;
  width: 80px;
}

.chess-gif {
  height: 100%;
  width: 100%;
}

#chess-title {
  display: inline;
  top: -40px;
  position: relative;
  font-size: 40pt;
}

.new-game {
  z-index: 1000;
}

.new-game button {
  width: 230px;
}

canvas {
  background-color: #192828;
  display: inline-block;
}

.main {
  position: absolute;
  width: 100%;
  text-align: center;
}


#content {
  position: relative;
  background-color: transparent;
  margin: auto;
  height: 800px;
  border-radius: 3px;
  z-index: 5;
}

#content form label, input {
  color: white;
}

#content.upload p {
  color: wheat;
  text-align: left;
  position: relative;
}

.upload-container {
  position: relative;
  margin: auto;
  width: 70%;
  height: 100%;
}

.upload-form {
  input, button {
    font-size: 13pt;
  }
}

#content .how-to-instructions {
  * {
    color: wheat;
  }
  p, li, h3 {
    text-align: left;
    font-size: 16pt;
  }
  width: 600px;
  margin: auto;
  z-index: 500;
}


body {
  background-color: rgb(56, 84, 77);
  background-image: url('../img/grid.png');
  background-size: 10;
  text-align: center;
  margin: 0px;
}

body span, body p, body li, body td, body button, body h3, body input, body label {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body b {
  color: white;
}

h1 {
  font-size: 72;
}

h1, h2 {
  font-family: "Book Antiqua", serif !important;
}

h3 {
  color: wheat;
}

checker{
  background-color: rgb(140, 68, 96);
}

.player-names * {
  padding: 5px;
}
.player-names label, .player-names input{
  color: white;
}

.player-names input {
  color: white !important;
  background-color: black !important;
  padding-top: 8px;
}

.player-names button {
  cursor: pointer;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  z-index: 0;
  position: absolute;
  transition: visibility 0s, opacity 0.5s linear;
}

#loading-spinner {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  img {
    width: 50px;
    height: 50px;
  }
}

#spinner-div {
  position: absolute;
  top: 0px;
  width: 476px;
  height: 476px;
  margin-left: -25px;
  margin-top: -25px;
}

#next-move {
  z-index: 100;
  position: relative;
}

.status {
  color: rgb(221, 193, 98);
  margin: 3px;
  display: inline-block;
  width: 476px;
}

.mainbar .status {
  float: right;
  margin-right: 80px;
}

.game-tile {
  border-radius: 3px;
}

table#game-table {
  margin: auto;

  td {
    width: 180px;
    height: 180px;
    margin: 5px;
  }

  a {
    color: wheat;
  }
}

table#game-table.games-table-list {
  max-width: 400px;
}

/* TODO: remove javascript html-building logic, replace */
table#game-table.games-table-3col {
}
table#game-table.games-table-5col {
}

#game-table td a, #game-table td span {
  font-family: "Nunito", sans-serif;
}

#game-table-view input {
  color: white;
  background-color: black;
  padding: 8px 5px;
  margin: 4px;
}
#game-table-view button {
  margin: 4px;
  padding: 5px;
}

.game-thumbnail {
  top: 20%;
  :hover {
    cursor: pointer;
  }

}

.modal {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 200px;
}

.modal-content {
  margin: auto;
  min-width: 960px;
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

.modal-content.code-modal {
  min-width: 600px;
  width: 48%;

}

.modal-content.success-popup {
  width: 35%;
  min-width: 200px;
}

#content #quote-wrapper {
  width: 473px !important;
  max-width: 450px;
  margin: auto;
}

#quote-wrapper .quote-span{
  color: white;
  font-size: 13pt;
  font-family: "EB Garamond", "Book Antiqua", serif;
  position: absolute;
  top: 200px;
  display: block;
  max-width: inherit;
  overflow-wrap: normal;
  width: 100%;
}

canvas#game-view {
  margin-left: -8px;
}

.content-container {
  padding-top: 60px;
  background-color: rgba(82,28,48,0.3);
  width: 100%;
  display: flex;
  border-radius: 14px;
  border: 1px solid black;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.7);
}
.content-container .mainbar {
  width: 60%;
  display: inline-block;
  min-height: 280px;
}
.content-container > div {
  background-color: rgba(20,20,20,0.6);
  margin-bottom: 30px;
}

.content-container .mainbar.small {
  width: 50%;
}

.content-container .mainbar #canvas-window{
  float: left;
}
.content-container .sidebar {
  width: 40%;
  display: inline-block;

  p, span {
    color: wheat;
    padding: 8px;
    font-size: 14pt;
  }
  input {
    color: white;
    background-color: black;
    font-size: 13pt;
  }
}

#moves-list {
  width: 70%;
  background-color: rgba(0,0,0,0.3);
  height: 700px;
  overflow-y: scroll;
}

#moves-list table {
  border: 1px wheat dotted;
  width: 100%;
}

#moves-list table td {
  border-bottom: 1px wheat dotted;
  padding-bottom: 8px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.8s ease-out, color 0.8s ease-out;
}

#moves-list * {
  color: white;
  padding: 5px;
  font-size: 14pt;
}

#moves-list table td.selected {
  transition: background-color 0.8s ease-out, color 0.8s ease-out;
  background-color: rgb(221, 193, 98);
  color: black;
}

#modal-close-button {
  position: absolute;
  top: 40px;
  right: 20%;
}
#modal-close-button button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 6px;
}
.code-modal > #modal-close-button {
  right: 27%;
}
.header {
  top: 10px;
  left: 0px;
  width: 100%;
  height: 20px;
  display: flex;
  position: absolute;
  z-index: 2000;
}
.header div {
  margin-left: 80px;
  transition: box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
              background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.header div:hover {

  background-color: rgba(10, 0, 10, 0.3);
  box-shadow: 0px 3px 16px 10px rgba(10, 0, 10, 0.3);
}
.header span{
  font-size: 16pt;
  font-family: "Book Antiqua", serif;
}
.header span a{
  margin: 10px 6px;
  color: wheat;
}
.header .status-wrapper {
  float: right;
  color: wheat;
}

.code-background {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  p {
    color: wheat;
    font-size: 16pt;
  }
}

.sidebar.large {
  width: 50%;
}

#request-code-button {
  height: 28px;
  font-size: 13pt;
}

#code-view {
  background-color: #e4e1db;
}

table.inputs-table {
  min-height: 250px;
  position: relative;
  margin: auto;

  input[type="text"] {
    margin: 4px;
  }

  td {
    height: 20px;
    width: 60px;
  }

  td.double-width {
    min-width: 300px;
  }

  h3 {
    margin: 0px;
  }

  label {
    width: 60px;
    display: inline-block;
  }
}

input#access-code-input {
  width: 130px;
}

.border-right {
  border-right: 1px dashed wheat;
}

.border-separator {
  color: wheat;
  position: relative;
  left: -20px;
}
#new-live-game {
  width: 230px;
  margin-bottom: 8px;
}
.highlighted {
  border-color: gold !important;
}

#selection-grid {
  width: 100%;
  border-spacing: 0px;
  position: absolute;
  width: 476px;
  height: 476px;
  z-index: 100;
  margin-left: -8px;
}

#selection-grid tbody tr:nth-child(even) {
  :nth-child(odd) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(255,255,238,.35);
  }
  :nth-child(even) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(50,30,15,.3);
  }
}
#selection-grid tbody tr:nth-child(odd) {
  :nth-child(odd) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(50,30,15,.3);
  }
  :nth-child(even) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(255,255,238,.35);
  }
}


table#players-table {
  width: 85% !important;
  min-width: 1105px;
  border: 2px dotted gold;
  thead tr {
    background-color: rgba(0, 0, 0, 0.3);
  }
  thead tr th {
    border-bottom: 2px dotted gold;
    color: wheat;
    text-align: right;

    span.dt-column-order {
      color: white;
    }
  }
  tbody tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.2) !important;
  }
  tbody tr td {
    color: wheat;
  }
  tbody tr td:nth-child(1) {
    font-family: "EB Garamond", "Book Antiqua", serif;
  }
  tbody tr td a {
    color: honeydew;
  }
}

#players-table-view {
  position: relative;
  width: 80%;
  margin: auto;
}

#players-table-view label, #players-table-view input, #players-table-view select, #players-table-view div {
  color: wheat;
  font-family: "Nunito", sans-serif;
  font-size: 14pt;
}

#players-table-view .dt-info {
  font-family: "Nunito", sans-serif;
}

#players-table-view .dt-search label {
  display: none;
}
#players-table-view .dt-search input {
  color: white;
  background-color: black;
  padding: 8px 5px;
  margin: 4px;
}

#players-table td[tabindex=0] {
  font-family: serif;
}

#upload-status-span {
  color: lightcyan;
}

#promotion-popup {
  width: 210px;
  height: 300px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  margin-left: 10%;
  background-color: rgba(35,19,28,0.6);
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.7);
  color: wheat;
}


#difficulty-popup {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}

#difficulty-popup input {
  color: black;
}

#difficulty-popup-content {
  width: 300px;
  height: 230px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-left: 35%;
  margin-top: 10%;
  background-color: rgba(35,19,28,0.6);
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.7);
  color: wheat;
}

#modal-diff-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
#modal-diff-close-button button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 6px;
}
#load-eval {
  position: relative;
  width: 100%;
}
.eval-btn {
  height: 40px;
  background-color: black;
  color: wheat;
  float: left;
}
#eval-container {
  position: absolute;
  top: 125px;
  height: 476px;
  width: 10px;
  background-color: white;
}
.eval-bar {
  height: 238px;
  transition: height 0.6s cubic-bezier(0.13, 0.67, 0.48, 1.03);
  position: absolute;
  width: 10px;
}
.eval-bar#eval-black {
  top: 0px;
  background-color: black;
}
.eval-bar#eval-white {
  top: 238px;
  background-color: white;
}
#resign-button {
  margin-left: -50px;
}
#game-title {
  color: wheat;
  font-size: 16pt;
  font-family: "Book Antiqua", serif;
}
#resign-button {
  font-family: serif;
  background-color: black;
  color: wheat;
}