.title {
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: 100;
}
#chess-img {
  margin: auto;
  display: inline-block;
  width: 80px;
}

.chess-gif {
  height: 100%;
  width: 100%;
}

#chess-title {
  display: inline;
  top: -40px;
  position: relative;
  font-size: 40pt;
}

.new-game {
  z-index: 1000;
}

.new-game button {
  width: 200px;
}

canvas {
  background-color: #1F2F2F;
  display: inline-block;
}

.main {
  position: absolute;
  width: 90%;
  text-align: center;
}


#content {
  position: relative;
  top: 128px;
  background-color: transparent;
  margin: auto;
  height: 800px;
  border-radius: 3px;
  z-index: 5;
}

#content form label, input {
  color: white;
}


body {
  background-color: rgb(64, 106, 95); 
  background-image: url('../img/grid.png');
  background-size: 10;
  text-align: center;
}

body b {
  color: white;
}

h1 {
  font-size: 72;
}

checker{
  background-color: rgb(140, 68, 96);
}
.player-names * {
  padding: 5px;
}
.player-names label, .player-names input{
  color: white;
}

.player-names input {
  background-color: black;
  padding-top: 8px;
}

.player-names button {
  cursor: pointer;
}

.hidden {
  display: none;
}

#loading-spinner {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  img { 
    width: 50px;
    height: 50px;
  }
}

#spinner-div {
  position: absolute;
  top: 0px;
  width: 476px;
  height: 476px;
  margin-left: -25px;
  margin-top: -25px;
}

#next-move {
  z-index: 100;
  position: relative;
}

.status {
  color: rgb(221, 193, 98);
  margin: 3px;
  display: inline-block;
  width: 476px;
}

.mainbar .status {
  float: right;
  margin-right: 80px;
}

table#game-table {
  margin: auto;

  td {
    width: 180px;
    height: 180px;
    margin: 5px;
  }
}

.game-thumbnail {
  top: 20%;
}

.modal {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}

.modal-content {
  margin: auto;
  min-width: 960px;
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

.modal-content.code-modal {
  min-width: 600px;
  width: 48%;

}
#content #quote-wrapper {
  width: 473px !important;
  max-width: 460px;
  margin: auto;
}

#quote-wrapper .quote-span{
  color: white;
  font-size: 14pt;
  font-family: serif;
  position: relative;
  top: -300px;
  max-width: inherit;
  overflow-wrap: normal;
}

.content-container {
  padding-top: 60px;
  background-color: rgba(82,28,48,0.3);
  width: 100%;
  display: flex;
  border-radius: 14px;
  border: 1px solid black;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.7);
}
.content-container .mainbar {
  width: 60%;
  display: inline-block;
  min-height: 280px;
}
.content-container > div {
  background-color: rgba(0,0,0,0.36);
  margin-bottom: 30px;
}

.content-container .mainbar.small {
  width: 50%;
}

.content-container .mainbar #canvas-window{
  float: right;
  margin-right: 80px;
}
.content-container .sidebar {
  width: 40%;
  display: inline-block;

  p, span {
    color: wheat;
    padding: 8px;
    font-size: 14pt;
  }
  input {
    color: white;
    background-color: black;
    font-size: 13pt;
  }
}

#moves-list {
  width: 70%;
  background-color: rgba(0,0,0,0.3);
  height: 700px;
  overflow-y: scroll;
}

#moves-list table {
  border: 1px wheat dotted;
  width: 100%;
}

#moves-list table td {
  border-bottom: 1px wheat dotted;
  padding-bottom: 8px;
  cursor: pointer;
}

#moves-list * {
  color: white;
  padding: 5px;
  font-size: 14pt;
}

#moves-list .selected {
  background-color: rgb(221, 193, 98);
  color: black;
}

#modal-close-button {
  position: absolute;
  top: 40px;
  right: 20%;
}
#modal-close-button button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 6px;
}
.code-modal > #modal-close-button {
  right: 27%;
}
.header {
  top: 10px;
  left: 10px;
  width: 100%;
  height: 20px;
  display: flex;
  position: absolute;
  z-index: 2000;
}
.header span{
  margin-left: 80px;
  font-size: 16pt;
}
.header span a{
  color: wheat;
}

.code-background {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  p {
    color: wheat;
    font-size: 16pt;
  }
}

.sidebar.large {
  width: 50%;
}

#request-code-button {
  height: 28px;
  font-size: 13pt;
}

#code-view {
  background-color: #e4e1db;
}

table.inputs-table {
  min-height: 250px;
  top: -80px;
  position: relative;
  margin: auto;

  td {
    height: 20px;
    width: 60px;
  }

  td.double-width {
    min-width: 300px;
  }
}

.border-right {
  border-right: 1px dashed wheat;
}

.border-separator {
  color: wheat;
  position: relative;
  left: -20px;
}
#new-live-game {
  width: 93%;
  margin-bottom: 8px;
}
.highlighted {
  border-color: gold !important;
}

#selection-grid {
  width: 100%;
  border-spacing: 0px;
  position: absolute;
  width: 476px;
  height: 476px;
  z-index: 100;
}

#selection-grid tbody tr:nth-child(even) {
  :nth-child(odd) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(255,255,238,.35);
  }
  :nth-child(even) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(50,30,15,.3);
  }
}
#selection-grid tbody tr:nth-child(odd) {
  :nth-child(odd) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(50,30,15,.3);
  }
  :nth-child(even) {
    border-style: groove;
    border-width: 3px;
    border-color: rgba(255,255,238,.35);
  }
}


#players-table {
  width: 50%;
  min-width: 600px;
  border: 2px dotted gold;
  padding: 5px;
  color: white;
  margin: auto;
  th {
    border-bottom: 2px dotted gold;
  }
  td a {
    color: wheat;
  }
}

#upload-status-span {
  color: lightcyan;
}

#promotion-popup {
  width: 210px;
  height: 300px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  margin-left: 10%;
  background-color: rgba(35,19,28,0.6);
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.7);
  color: wheat;
}