.title {
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: 100;
}
#chessimg {
  margin: auto;
  display: inline-block;
  width: 80px;
}

.chessgif {
  height: 100%;
  width: 100%;
}

#chesstitle {
  display: inline;
  top: -40px;
  position: relative;
  font-size: 40pt;
}

.newgame {
  z-index: 1000;
}

.newgame button {
  width: 200px;
}

canvas {
  background-color: #e4e1db;
  display: inline-block;
}

.main {
  position: absolute;
  width: 90%;
  text-align: center;
}


#content {
  position: relative;
  top: 128px;
  background-color: transparent;
  margin: auto;
  width: 800px;
  height: 800px;
  border-radius: 3px;
}


body {
  background-color: rgb(64, 106, 95); 
  background-image: url(grid.png);
  background-size: 10;
  text-align: center;
}

body b {
  color: white;
}

h1 {
  font-size: 72;
}

checker{
  background-color: rgb(140, 68, 96);
}
.player-names * {
  padding: 5px;
}
.player-names label, .player-names input{
  color: white;
}

.player-names input {
  background-color: black;
  padding-top: 8px;
}

.player-names button {
  cursor: pointer;
}

.hidden {
  display: none;
}
#loading {
  height: 0px;
}

#loadingspinner {
  z-index: 300;
  position: relative;
  display: inline;
  top: -250px;
  img { 
    width: 50px;
    height: 50px;
  }
}

.status {
  color: rgb(221, 193, 98);
  margin: 3px;
  display: inline-block;
  width: 400px;
}

table#gameTable {
  margin: auto;

  td {
    width: 180px;
    height: 180px;
    margin: 5px;
  }
}

.gameThumbnail {
  top: 20%;
}

.modal {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}

.modalContent {
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: rgba(80,10,60,0.3);
  padding-top: 140px;
}

.contentContainer {
  width: 100%;
  display: flex;
}
.contentContainer .mainbar {
  width: 60%;
  display: inline-block;
}

.contentContainer .mainbar #canvas-window{
  float: right;
  margin-right: 80px;
}
.contentContainer .sidebar {
  width: 40%;
  display: inline-block;
}

#movesList {
  width: 70%;
  background-color: rgba(0,0,0,0.3);
  height: 700px;
  overflow-y: scroll;
}

#movesList table {
  border: 1px wheat dotted;
  width: 100%;
}

#movesList table td {
  border-bottom: 1px wheat dotted;
  padding-bottom: 8px;
  cursor: pointer;
}

#movesList * {
  color: white;
  padding: 5px;
  font-size: 14pt;
}

#movesList .selected {
  background-color: yellow;
  color: black;
}

#modalCloseButton {
  position: absolute;
  top: 10px;
  right: 20%;
}
#modalCloseButton button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
}